.fileUpload {
  width: 300px;
  height: auto;
  margin-top: 10px;
}
.fileUpload img {
  margin: 30px;
  width: 100%;
  height: auto;
}

.categories {
  display: flex;
  flex-wrap: wrap;
}

.product-model .product-type-select {
  display: block ;
}